<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Your App</title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_2789374_humzdzbtoke.css">
</head>
<body>
  <div id="root"></div>
</body>
</html>